/* estilos globales */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
p{
    font-size: 1.6rem;
}
img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
section{
    padding: 5rem 0;
}

/* Estilos del Header */
header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.container{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #eb648c;
}
.nav-brand{
    width: 20rem;
}
.menu-icons i{
    font-size: 3.5rem;
    color: black;
    cursor: pointer;
}
.close i{
    color: #eb648c;
}
.nav-list{
    width: 25rem;
    height: 100vh;
    background-color: #d7d4ed;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}
.nav-list.active{
    right: 0;
}
.close{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}
.nav-item{
    margin: 1.5rem 0;
}
.nav-link{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: rgba(0,0,0);
}
.hero{
    margin: 0;
    width: 100%;
    height: 85vh;
    background: url(images/pattern\ \(3\).png), center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.hero::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 4.7rem;
    background: url(images/wave-small.png) center no-repeat;
    background-size: cover;
}
.main-message{
    width: 100%;
    max-width: 50rem;
    transform: translateY(20%);
    background-color: #fafafa;
    padding: 1.4rem;
    border-radius: 10%;
    border: 3px solid black;
}
.main-message h3{
    font-size: 1.8rem;
    /* font-family: 'Pacifico', cursive; */
}
.main-message h1{
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    margin: 1rem 0;
}
.btn{
    background-color: #eb648c;
    border-radius: 2rem;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
}
.btn:hover{
    background: rgb(235,45,84);
    background: linear-gradient(0deg, rgba(235,45,84,0.6) 0%, rgba(253,219,45,0.65) 100%);
}
/* Servicios */
.experience{
    padding: 0;
}
.title-heading{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5rem;
    color: rgba(0,0,0,1);
}
.title-heading h3{
    font-size: 3rem;
}
.title-heading h2{
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    margin: .5rem 0 1rem;
}
.activities-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
}
.activities-grid-item{
    height: 30rem;
    padding: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    
}
.activities-grid-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(235,45,84);
    background: linear-gradient(0deg, rgba(236, 98, 126, 0.5) 0%, rgba(236, 215, 108, 0.555) 100%);
    z-index: -1;
    border-radius: 10%;
    border: 3px solid black;
}
.activities-grid-item i{
    font-size: 4rem;
    text-align: center;
}
.activities-grid-item h2{
    font-family: 'Kanit', sans-serif;
    font-size: 2.3rem;
    /* text-transform: uppercase; */
    margin: 1.5rem 0;
    text-align: center;
}
.activities-grid-item:hover{
    background: linear-gradient(0deg, rgba(235, 85, 160, 0.6) 0%, rgba(253,233,45,0.7) 100%), 
    url(images/pattern\ \(3\).png), center;
    background-size: cover;
    border-radius: 10%;
}
/* valoraciones */
.testimonials{
    width: 100%;
    height: 80vh;
    background: url(images/pattern\ \(3\).png), center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.testimonials::before{
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 4.7rem;
    background: url(images/wave-small-reversed.png) center no-repeat;
    background-size: cover;
}
.testimonial{
    width: 70%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Kanit', sans-serif;
    background-color: #fafafa;
    border-radius: 10%;
    border: 3px solid black;
    padding: 1.5rem;
    
}
.testimonial-text-box{
    padding: 0 2rem;
    margin-bottom: 2rem;
    position: relative;
    font-size: 1.9rem;
    margin-top: 2rem;
}
.testimonial-text-box i{
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8rem;
    color: #eb648c;
    opacity: .5;
    z-index: -1;
}
.testimonial-customer img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border: 3px solid #eb648c;
}

.help-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    margin-bottom: 2rem;
}
.help-grid-item{
    color: rgba(0,0,0,.7);
}
footer{
    padding: 2.5rem 0;
    background-color: #d7d4ed;
    text-align: center;
    color: rgba(0,0,0,.7);
}
/* Media queries */

@media screen and (min-width: 470px){
    .hero::before{
        height: 9.4rem;
        background: url(images/wave-medium.png);
        background-size: cover;
    }
    .testimonials::before{
        height: 9.4rem;
        background: url(images/wave-medium-reversed.png);
        background-size: cover;
    }
}
@media screen and (min-width: 700px){
    header{
        height: 8rem;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);  
        -webkit-backdrop-filter: blur(10px);
    }
    .nav-brand{
        width: 26rem;
    }
    .nav-list{
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        transition: initial;
    }
    .menu-icons{
        display: none;
    }
    .nav-item{
        margin: 0 2.5em;
    }
    .nav-link{
        position: relative;
        font-size: 1.5rem;
    }
    .nav-link::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: -1.6rem;
        background-color: #eb648c;
        width: 100%;
        height: 3px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 650ms;
    }
    .nav-link:hover::before{
        transform: scaleX(1);
    }
    .hero{
        height: 90vh;
    }

}
@media screen and (min-width: 950px){
    .hero::before{
        height: 22.7rem;
        background: url(images/wave-large.png);
        background-size: cover;
    }
    .testimonials::before{
        height: 22.7rem;
        background: url(images/wave-large-reversed.png);
        background-size: cover;
    }
}
